/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-color: #211f30; 
}

#title{
    -fx-padding: 10px;
    -fx-text-fill: white; 
}

.keys{
    -fx-padding: 5px;
    -fx-text-fill: white;
}

#goal{
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.inventary_actived {
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}